<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
        body {
            padding: 10px 20px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .cta {
            text-decoration: none;
            background-color: rgb(76, 119, 175);
            color: #fff !important;
            font-weight: bold;
            padding: 10px 20px;
            border-radius: 5px;
            margin: 0 auto;
        }
        footer {
            margin-top: 2rem;
        }
        p {
            margin: 30px 0;
        }
    </style>
</head>
<body>
    <section class="hero">
        <h1 class="title">Hello, {{ name }}</h1>
    </section>
    <main>
        <p>Your 6-digit password reset verification code is: </p>
        <h1 class="title">{{confirmLink}}</h1>
        <p>Once verified, you'll be able to reset your password.</p>
        <br>
        <p>If you're not the intended recipient of this email, please disregard.</p>
    </main>
    <footer>
        <p>baja blast</p>
    </footer>
</body>
</html>